<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="javascript:void(0);" onclick="MyCommon.goLink('/');">Home</a>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav mr-auto">
                <menu-component :data="item" :key="item.menuId" v-for="item in items"></menu-component>
            </ul>
            <ul class="navbar-nav float-right">
                <li class="nav-item dropdown">
                    <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);" id="navbarDropdownRight" role="button">
                        <i class="far fa-user-circle"></i>
                        <span id="menu_memberName"></span>
                        <span class="caret"></span>
                    </a>
                    <div aria-labelledby="navbarDropdownRight" class="dropdown-menu">
                        <a class="dropdown-item" href="javascript:void(0);" onclick="MyCommon.goLink();"><i class="fas fa-user-cog"></i>
                            내 정보 수정</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="javascript:void(0);" onclick="MyCommon.goLink('/sample/login/logout.view');"><i class="fas fa-sign-out-alt"></i>
                            로그아웃</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>


<script src="https://unpkg.com/vue"></script>
<script>
    Vue.component('menu-component', {
        template: `
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="javascript:void(0);" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{data.menuName}}
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" v-for="item in data.children" :key="item.menuId" href="javascript:void(0);" :data-onclick="item.url">{{item.menuName}}</a>
            </div>
        </li>
        `,
        props: {
            data: {
                type: Object,
                required: true
            }
        },
    });

    new Vue({
        el: '#navbar',
        data: {
            items: menuData
        },
        mounted() {
            $('a[data-onclick]').each((index, value) => {
                $(value).on('click', () => {
                    MyCommon.goLink($(value).data('onclick'));
                });
            });
        }
    });
    jQuery(($) => {
        $('#menu_memberName').text(menuMemberName);
    });
</script>